@import '../../styles/Color.scss';

.Header-vis {
    box-sizing: border-box;
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    animation: appear 4s;
    background: $lightRed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}


@keyframes appear {
    0% {
        top: -200px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes appearMenu {
    0% {
        top: -200px;
    }

    100% {
        top: 70px;
    }
}

.Header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    padding: 0 100px;
    height: 70px;
    transition: all .4s;
    animation: appear 2s;

    background-image: url('../Carrousel/Background Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    &__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: stretch;
        align-items: center;

        &__item {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;

            color: white;
            font-weight: bolder;
            padding: 0 15px;
            height: 70px;
            border-bottom: solid 5px transparent;
            transition: all .4s;

            div {
                margin-top: 5px;
            }
        }

        &__item:hover {
            border-bottom: solid 5px $white;
        }

        &__item:last-child {
            div {
                background-color: $white;
                color: $lightRed;
                border-radius: 25px;
                padding: 10px 20px;

                transition: all .4s;
                cursor: pointer;
            }
        }

        &__item:last-child:hover {
            div {
                background-color: $white;
                color: $lightRed;
            }

            border-bottom: solid 10px transparent;

        }
    }

    &__nav {
        &__item-selected {
            border-color: $white;
        }
    }

    &__burger {
        font-size: 20px;
        transition: all .4s;
        color: $white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        border-radius: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    &__burger:hover {
        background: $white;
        color: $lightRed;
    }

    a {
        text-decoration: none;
    }

}

.Header__nav-resp {
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    width: 100%;
    background: $white;

    position: fixed;
    z-index: 5;
    top:70px;
    left: 0;

    border-top: solid 1px $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    animation: appearMenu 1s;

    .Header__nav__item {
        color: $lightRed;
        font-weight: bolder;
        padding: 0 15px;
        height: 40px;
        border-bottom: solid 1px $gray4;
        transition: all .4s;
        width: 100%;

        div {
            margin-top: 5px;
        }
    }

    .Header__nav__item:hover {
        background: $lightRed;
        color: $white;
    }

    .Header__nav__item:last-child:hover {
        div {
            background: $lightRed;
            color: $white;
        }

        border-bottom: none;

    }
}


@media only screen and (min-width: 1200px) {
    .Header {
        &__burger {
            display: none;
        }
    }

    .Header__nav-rep{
        display: none !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .Header {
        &__burger {
            display: none !important;
        }
    }

    .Header__nav-rep{
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .Header {
        padding: 0 50px;

        .Logo {
            &__circle {
                transform: translateX(0);
                opacity: 1;
            }
        }

        &__burger {
            display: flex;
        }

        &__nav {
            display: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .Header {
        padding: 0 50px;

        .Logo {
            &__circle {
                transform: translateX(0);
                opacity: 1;
            }
        }

        &__burger {
            display: flex;
        }

        &__nav {
            display: none;
        }
    }


}