@import '../../styles/Color.scss';

.SiteMap{
    width: 100%;
    background: $gray5;
    padding:10px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    &__item{
        color: $gray3;
        text-decoration: none;
        font-weight: bolder;
        transition: all .4s;
    }

    &__item:hover{
        color: $lightRed;
    }

    &__item:not(:last-of-type)::after{
        content: "/";
        font-weight: normal;
        color: $gray3;
        margin: 0 10px;
    }

    &__item:last-child{
        color: $lightRed;
    }

}